<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <%- include('../includes/coinFetchScript.ejs') %>

    <body style="margin-top: 20px;">
        <main>
            <section class="container">
               
                <div style="margin-right: 15px;" class="form-wrapper">
                    <% if(message) { %>
                        <p class="error coin-track-error"><%= message %></p>
                    <% } %>
                    <form class="form new-coin-form" action="/add-coin" method="POST" >
                        <label for="tokenAddress">Track New Coin (Enter Token Address)</label>
                        <input name="tokenAddress" placeholder="0xe6f4a40156C9E8cb99FDEdeCF84" type="text"/>
                        <button class="button track-coin-button" type="submit">Track</button>
                    </form>
                </div>

                <!-- Main section -->
                <% if (coinData && coinData.length > 0) { %>
                    <div class="card-container">
                        <% for (let coin of coinData) { %>
                            <div class="card coin-data">
    
                                <h4 class="card-title coin-name"><%= coin.coinName %></h4>
                                <div  style="display: flex;">
                                    <div>
                                        <p>Current Price: $<span class="coin-price"><%= coin.coinPrice %></span></p>
            
                                        <% if(coin.buyPrice) {%>
                                        <div class="buy-price-wrapper">
                                            <p>Bought at: $<span class="buy-price"><%= coin.buyPrice %></span></p>
                                            <form action="/remove-buy" method="POST">
                                                <input name="coinId" type="hidden" value="<%= coin.coinId %>"/>
                                                <button class="button remove-price-button" type="submit">
                                                    <svg fill="#C41E3A" height="12px" width="12px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                        viewBox="0 0 460.775 460.775" xml:space="preserve">
                                                    <path d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55
                                                        c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55
                                                        c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505
                                                        c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55
                                                        l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719
                                                        c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                        <% } else{ %>
                                            <form action="/buy-coin" method="POST">
                                                <label>Set Initial Buy Price</label>
                                                <input step="any" name="buyPrice" type="number"/>
                                                <input name="coinToken" type="hidden" value="<%= coin.coinToken %>"/>
                                                <button>Buy</button>
                                            </form>
                                        <% } %>
                                    </div>
                                    <% if(coin.buyPrice) {%>
                                    <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 25px;">
                                        <p style="font-size: 20px;" class="profit-loss">%<span class="profit-loss-number"></span></p>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                   
                            <% } %>
                        </div>
                    <% } else { %>
                        <h3>You are not currently tracking any coins</h3>
                        <p>Try entering a new token ID or tracking a coin already tracked by other users</p>
                    <% } %>
                    <% if(otherTrackedCoins.length > 0) { %>
                        <div style="margin-top: 50px;">
                            <h5 style="margin-top: 0;">Add coins tracked by others</h5>
                            <div class="card-container">
                                <% for (let coin of otherTrackedCoins) { %>
                                    <form action="/add-coin" method="POST">
                                        <input name="coinId" type="hidden" value="<%= coin.coinId %>" />
                                        <button class="button" type="submit">
                                           <%= coin.coinName %>
                                           <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                width="10px" height="10px" viewBox="0 0 45.402 45.402"
                                                xml:space="preserve">
                                                <g>
                                                    <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                                                        c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                                                        c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                                                        c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
                                                </g>
                                            </svg>
                                        </button>
                                    </form>
                                <% } %>
                                </div>
                            </div>
                        <% } %>
                        
                <div style="display: flex; margin-bottom: 30px;">
                    <a class="button logout-button" href="/logout">Logout</a>
                </div>
            </section>
        </main>
    </body>

<%- include('../includes/end.ejs') %>