<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <%- include('../includes/coinFetchScript.ejs') %>

    <body>
        <main>
            <section class="container">
                <div class="form-wrapper">
                    <form class="form new-coin-form" action="/add-coin" method="POST" >
                        <label for="tokenAddress">Track New Coin (Enter Token Address)</label>
                        <input name="tokenAddress" placeholder="0xe6f4a40156C9E8cb99FDEdeCF84" type="text"/>
                        <button class="button track-coin-button" type="submit">Track</button>
                    </form>
                </div>
                <div class="card-container">
                    <% if (coinData && coinData.length > 0) { %>
                        <% for (let coin of coinData) { %>
                            <div class="card coin-data">
    
                                <h4 class="card-title coin-name"><%= coin.coinName %></h4>
                                <div  style="display: flex;">
                                    <div>
                                        <p>Current Price: $<span class="coin-price"><%= coin.coinPrice %></span></p>
            
                                        <% if(coin.buyPrice) {%>
                                        <p>Bought at: $<span class="buy-price"><%= coin.buyPrice %></span></p>
                                        <% } else{ %>
                                            <form action="/buy-coin" method="POST">
                                                <label>Set Initial Buy Price</label>
                                                <input step="any" name="buyPrice" type="number"/>
                                                <input name="coinToken" type="hidden" value="<%= coin.coinToken %>"/>
                                                <button>Buy</button>
                                            </form>
                                        <% } %>
                                    </div>
                                    <% if(coin.buyPrice) {%>
                                    <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 25px;">
                                        <p style="font-size: 20px;" class="profit-loss">%<span class="profit-loss-number"></span></p>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                   
                        <% } %>
                    <% } %>
                </div>
                <br><br>
                <div>
                    <a class="button logout-button" href="/logout">Logout</a>
                </div>
            </section>
        </main>
    </body>

<%- include('../includes/end.ejs') %>